*{
    margin: 0;
    padding: 0;
    align-items: center;
}
h1{
    text-align: center;
    margin-top: 2rem;
    color:white;
    background-color: black;
    height: 5rem;
    line-height: 5rem;
    padding: 2rem;
    font-size: 4rem;
    gap: 2rem;
}
.choices{
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 2rem;
    align-items: center;
    border: 2px solid transparent;
}
img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.choice{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 5px solid transparent;
}
.choice:hover{
    background-color: black;
}
.score-card{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    font-weight: 2rem;
    font-size: 2rem;
    align-items: center;
}
#user-score, #comp-score{
    font-size: 4rem;
}
.msg{
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
}
#msg{
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}